AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_ENDPOINT_URL=http://localhost:4566
DYNAMODB_TABLE_NAME=drone-telemetry-local
QUARANTINE_QUEUE_URL=http://localhost:4566/000000000000/drone-telemetry-quarantine-local
